.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10px;
  position: absolute;
  text-align: left;
  top: 30%;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 4rem
}
